body {
    background-color: #2c3e50;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    background: linear-gradient(45deg, #00ced1, #20b2aa);
    border-radius: 20px;
    padding: 1rem;
}

.logo {
    flex-grow: 1;
    margin-right: 1rem;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
    transform-origin: center bottom;
}

.logo:hover {
    transform: scale(0.97);
}

.header-btn {
    background-color: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    position: relative;
    transition: color 0.2s ease-in-out;
}

.header-btn::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease-in-out;
}

.header-btn:hover::after {
    width: 100%;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar {
    height: 5vh;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 10vw;
}

.keyword-container {
    width: 100%;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


#gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    text-align: center;
}

.gallery-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: border 3s;
}

.gallery-image:hover {
    border: 2px solid #333;
    cursor: pointer;
}

img {
    transition: transform 0.3s ease-in-out;
    transform: scale(1);
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: border 3s;
}

img:hover {
    transform: scale(1.07);
}

#editor-container {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.editor-console {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #8d9191;
    height: 500px;
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
}

.font-size {
    display: flex;
}

canvas {
    border-radius: 20px;
    margin: 2rem;
}

#text-input {
    margin: 20px;
    height: 5vh;
    border-radius: 20px;
}

#add-text-btn {
    background-color: #33f733;
    color: white;
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 10px;
    font-size: 30px;
}

#clear-text-btn {
    background-color: #fc2c4c;
    color: white;
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 10px;
    font-size: 30px;
}

#select-text-btn {
    background-color: #2dc4f7;
    color: white;
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 10px;
    font-size: 30px;
}

.adjust-btn {
    background-color: #00ced1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    height: 25vh;
    border-radius: 20px;
    margin: 20px;
}

.adjust-btn button {
    flex: 1;
    /* Chaque bouton prendra autant de place que possible */
    margin: 5px;
    /* Ajoute un peu d'espace entre les boutons */
    font-size: 16px;
    /* Ajustez la taille du texte selon vos besoins */
}

.download-btn {
    background-color: #4aacee;
    border-radius: 8px;
    height: 35px;
    width: 130px;
    margin: 10px;
}

.share-btn {
    background-color: #46e06a;
    border-radius: 8px;
    height: 35px;
    width: 130px;
    margin: 10px;
}

.save-meme-btn {
    background-color: #b6abf5;
    border-radius: 8px;
    height: 35px;
    width: 130px;
    margin: 10px;
}

#saved-memes {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    text-align: center;
}

@media screen and (max-width: 740px) {
    .search-container {
        flex-direction: column;
        align-items: stretch;
    }

    #gallery,
    .gallery-image {
        width: 90vw;
        max-width: none;
    }

    #editor-container {
        margin-top: 2vh;
        flex-direction: column;
    }

    .editor-console,
    canvas {
        width: 90vw;
        max-width: none;
        margin: 4vw 0;
    }
}