body {
    background-color: #2c3e50;
}

/* Ajoutez ce style pour cibler le header */
header {
    display: flex;
    background: linear-gradient(45deg, #00ced1, #20b2aa);
    border-radius: 20px;
    /* Coins arrondis */
    padding: 1rem;
    /* Ajoutez une marge interne pour l'esthétique */
}

.logo {
    flex-grow: 1;
    margin-right: 2rem;
    cursor: pointer;
}

.header-btn {
    background-color: transparent;
    border: none;
    margin-right: 1rem;
    cursor: pointer;
}

#search-bar {
    width: 200px;
    /* Ajoutez une largeur à votre champ de recherche */
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    text-align: center;
}

.gallery-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 20px;
    /* Coins arrondis */
    transition: border 0.3s;
}

.gallery-image:hover {
    border: 2px solid #333;
    cursor: pointer;
}

#editor-container {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.editor-console {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #a7aeae;
    height: 500px;
    width: 500px;
    border-radius: 20px;
}

canvas {
    border-radius: 20px; 
    margin: 50px;
}

#text-input {
    margin: 20px;
    height: 5vh;
    border-radius: 20px;
}

#add-text-btn {
    background-color: rgb(10, 233, 10);
    color: white;
}

#clear-text-btn {
    background-color: rgb(233, 10, 10);
    color: white;
}
#select-text-btn {
    background-color: rgb(10, 140, 233);
    color: white;
}

.adjust-btn {
    background-color: #00ced1;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh; /* Ajustez la hauteur en fonction de vos besoins */
    border-radius: 20px;
    margin: 20px;
}

@media screen and (max-width: 740px) {
    #editor-container {
        margin-top: 10px; /* Ajustez la marge pour une meilleure apparence sur les petits écrans */
        flex-direction: column;
    }

    .editor-console {
        height: 80%; /* Ajustez la hauteur automatiquement sur les petits écrans */
        width: 100%; /* Utilisez une largeur plus grande sur les petits écrans */
    }

    canvas {
        height: 80%; /* Ajustez la hauteur automatiquement sur les petits écrans */
        width: 100%; 
        margin: 15px;
    }
}